{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "RELEASE"}
        com.cemerick/pomegranate {:mvn/version "RELEASE"}
        s3-wagon-private/s3-wagon-private {:mvn/version "1.3.2"}
        org.clojure/data.xml {:mvn/version "0.2.0-alpha5"}
        org.slf4j/slf4j-nop {:mvn/version "RELEASE"}
        medley {:mvn/version "1.3.0"}
        org.clojure/tools.deps.alpha {:mvn/version "0.9.863"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "RELEASE"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "76568540e7f40268ad2b646110f237a60295fa3c"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}

  :artifact-id       deps-deploy
  :group-id          com.dcj
  :version           "2.0.999-SNAPSHOT"
  :jar/filename      "deps-deploy.jar"

  :depstar {:replace-deps
            {com.github.seancorfield/depstar ; 2.0.next:
             {:git/url "https://github.com/seancorfield/depstar"
              :sha "5f4df9ffece4769d01559f7914bd88de024e1348"}}
            :exec-fn hf.depstar/jar
            :exec-args {:jar         :jar/filename
                        :artifact-id :artifact-id
                        :group-id    :group-id
                        :version     :version
                        :sync-pom true}}

  :deploy {:extra-deps {com.dcj/deps-deploy {:mvn/version "2.0.999-SNAPSHOT"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote
                       :sign-releases? true
                       :artifact :jar/filename}}

  :install {:extra-deps {com.dcj/deps-deploy {:mvn/version "2.0.999-SNAPSHOT"}}
            :exec-fn deps-deploy.deps-deploy/deploy
            :exec-args {:installer :local
                        :artifact :jar/filename}}}}
