{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "RELEASE"}
        com.cemerick/pomegranate {:mvn/version "RELEASE"}
        s3-wagon-private/s3-wagon-private {:mvn/version "1.3.2"}
        org.clojure/data.xml {:mvn/version "0.2.0-alpha5"}
        org.slf4j/slf4j-nop {:mvn/version "RELEASE"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "RELEASE"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "76568540e7f40268ad2b646110f237a60295fa3c"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}

  :depstar {:replace-deps
            {seancorfield/depstar {:mvn/version "2.0.165"}}
            :exec-fn hf.depstar/jar
            :exec-args {:jar deps-deploy.jar}}

  :deploy {:exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote
                       :sign-releases? true
                       :artifact "deps-deploy.jar"}}

  :install {:exec-fn deps-deploy.deps-deploy/deploy
            :exec-args {:installer :local
                        :artifact "deps-deploy.jar"}
            }}}
