{:paths ["resources" "src"]
 :deps {org.clojure/clojure {:mvn/version "RELEASE"}
        com.cemerick/pomegranate {:mvn/version "RELEASE"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "RELEASE"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "76568540e7f40268ad2b646110f237a60295fa3c"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :jar {:extra-deps {pack/pack.alpha
                     {:git/url "https://github.com/juxt/pack.alpha.git"
                      :sha "8acf80dd4d6e5173585f5c6fec7af28a310f3ed7"}}
        :main-opts ["-m" "mach.pack.alpha.skinny" "--no-libs"
                    "--project-path" "deps-deploy.jar"]}}}
